html body{
    font-family: 'Chilanka', cursive;
    overflow: auto;
}


/* Nav-Bar */
.navbar{
    border-bottom-right-radius: 30px;
}
#my-name{
    font-size: 1.7rem;
}
.custom-nav{
    padding: 0px 20px 0px 4px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.4rem;
}

#front-line{
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.3rem;
}

/* Footer */
#footer{
   text-align: center;
}