html body{
    font-family: 'Chilanka', cursive;
    margin: 0px;
}


/* Nav-Bar */
.navbar{
    border-bottom-right-radius: 20px;
}
#my-name{
    font-size: 1.7rem;
}
.custom-nav{
    padding: 0px 20px 0px 4px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.4rem;
}

#front-line{
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.3rem;
}
@media only screen and (max-width: 600px) {
   #front-line{
       font-size: 0.7rem;
   }
   #my-name{
       font-size: 1.0rem;
   }
   .custom-nav{
       font-size: 1.2rem;
   }
  }

/* Footer */
#footer{
   text-align: center;
}