html body{
    font-family: 'Chilanka', cursive;
    margin: 0px;
    background-color:#000000;
    color: #7E8A97;
}

.line-links{
    text-align: center;
    width: 100%;
    padding: 0px 25%;
}
.link-container{
    width: 100%;
    text-align: center;
}
.icons{
    margin: 10px;
    height: 50px;
    width: 53px;
}
/* Nav-Bar */
.navbar{
    border-bottom-right-radius: 30px;
    
}
/* .navbar-custom{
    
} */
#my-name{
    font-size: 1.7rem;
    color:white;
}
.custom-nav{
    padding: 0px 20px 0px 4px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.4rem;

}

#front-line{
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.3rem;
    color:#B8DFD8;
}

/* For Width and Height Both
@media screen and (max-width: 995px), 
       screen and (max-height: 700px) {
  
} */


/* Main Content */
.top-custom-container{
    text-align: center;
    padding: 50px 0px 0px 0px;
    /* background-image: url('images/ryunosuke-kikuno-zE-MrTmjzd4-unsplash.jpg'); */
    background-size:cover;
}
.top-custom-container h1{
    color: #B8DFD8;
}
.top-custom-container h2{
    color: white;
}
.bottom-heading{
    margin: 5% 0% 0% 0%;
    padding-bottom: 1%;
    overflow: auto;
}
.bottom-heading h3{
    font-size: 3rem;    
    padding: 0px 0px 25px 0px;
    color: #B8DFD8;
}

/* Middle */
/* .middle-custom-container{
    
} */
.certification-section{
    width: 100%;
    text-align: center;
    margin-top: 2%;
}
/* .certificate-box{
    
} */
.certificate-box-items{
    margin: 30px;
    width: 40%;
    height: 25%;
}
.certificate-box-images{
    width: 45px;
    height: 50px;
    margin: 1px 0px 35px 0.0px;
}
/* .middle-custom-container hr{
    
    
} */

/* Footer */
#footer{
    /* Put the footer at bottom */
   text-align: center;
   /* position:absolute; */
   width: 100%;
   bottom:5px;
   font-size: 0.9rem;
   margin-top: 5%;
}

/* About Me */
.about-me-tag{
    text-align: center;
    width: 100%;
    margin-top: 28px;
}
.about-me-tag-text{
    font-size: 2.5rem;
}



/*                                                             MEDIA QUERIES */

/* FOR MOBO DEVICE SCREEN */
/* For Lenovo K5 Plus */
@media only screen and (max-width: 600px) {
    #front-line{
        font-size: 1.2rem;
    }
    #my-name{
        font-size: 1.4rem;
    }
    .custom-nav{
        font-size: 1.2rem;
    }
    .top-custom-container h1{
        font-size: 1.9rem;
    }
    /* this will (h2) appear at center afte width > 400px because by default container of bootstrap puts div in center(children) */
  .top-custom-container h2{
      font-size: 1.5rem;
  }
  #tag-line{
      font-size: 1.7rem;
      padding-top: 30px;
  }
   }
 
   /* For My NOKIA 5 */
   @media only screen and (max-width: 420px) {
     #front-line{
         font-size: 0.9rem;
     }
     #my-name{
         font-size: 1.1rem;
     }
     .custom-nav{
         font-size: 1.1rem;
     }    
     .top-custom-container h1{
         font-size: 1.6rem;
         
     }
     .top-custom-container h2 {
         font-size: 1.2rem;
 
     }
   #tag-line{
       font-size: 1.6rem;
       padding-top: 30px;
   }
   .about-me-tag h1{
       font-size: 2.5rem;
   }
   .icons{
     height: 40px;
     width: 41px;
           }
 /* .certificate-box{
     
 } */
 .certificate-box-text{
     font-size: 1.1rem;
 }
 .certificate-box-items{
     margin: 10px;
     width: 90%;
     height: 45%;
 }
 .certificate-box-images{
     width: 41px;
     height: 31px;
     margin: 8px 0px 20px 0.0px;
 }
 }
  /* For Z-Fold */
 @media only screen and (max-width: 350px) {
     #front-line{
         font-size: 0.7rem;
     }
     #my-name{
         font-size: 0.8rem;
     }
     .custom-nav{
         font-size: 0.8rem;
     }    
     .top-custom-container h1{
         font-size: 1.4rem;
         
     }
     .top-custom-container h2{
         font-size: 0.9rem;
     }
   #tag-line{
       font-size: 1.1rem;
       padding-top: 20px;
   }
   .icons{
       height: 40px;
       width: 35px;
   }
   .about-me-tag {
       padding-top: 20px;
       
   }
   .about-me-tag h1{
       font-size: 1.3rem;
   }
   .certificate-box-text{
     font-size: 0.9rem;
 }
 .certificate-box-items{
     margin: 10px;
     width: 90%;
     height: 40%;
 }
 .certificate-box-images{
     width: 45px;
     height: 35px;
     margin: 1px 0px 10px 0.0px;
 }
 }