html body{
    font-family: 'Chilanka', cursive;
    margin: 0px;
    background-color:#000000;
    color: #7E8A97;
}

.line-links{
    text-align: center;
    width: 100%;
    padding: 0px 25%;
}

.link-container{
    width: 100%;
    text-align: center;
}
.icons{
    margin: 10px;
    height: 50px;
    width: 53px;
    transition: 2s linear;
}
.icons:hover{
    height: 70px;
    width: 70px;
}
/* Nav-Bar */
.navbar{
    border-bottom-right-radius: 30px;
    
}
/* .navbar-custom{
    
} */
#my-name{
    font-size: 1.7rem;
    color:white;
}
.custom-nav{
    padding: 0px 20px 0px 4px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.4rem;

}

#front-line{
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.3rem;
    color:#B8DFD8;
}
/* Main Content */
.top-custom-container{
    text-align: center;
    padding: 50px 0px 0px 0px;
    /* background-image: url('images/ryunosuke-kikuno-zE-MrTmjzd4-unsplash.jpg'); */
    background-size:cover;
}
.top-custom-container h1{
    color: #B8DFD8;
}
.top-custom-container h2{
    color: white;
}
.bottom-heading{
    margin: 4% 0% 0% 0%;
    padding-bottom: 1%;
    overflow: auto;
}
.bottom-heading h3{
    font-size: 3rem;    
    padding: 0px 0px 6px 0px;
    color: #B8DFD8;
}

/* Middle */
.middle-custom-container{
    margin-top: 2%;
}
.certification-section{
    width: 100%;
    text-align: center;
    margin-top: 2%;
}
/* .certificate-box{
    
} */
.certificate-box-items{
    margin: 30px;
    width: 40%;
    height: 25%;
}
.certificate-box-images{
    width: 45px;
    height: 50px;
    margin: 1px 0px 35px 0.0px;
}
.middle-custom-container hr{
    margin: 3px 0px;
}

/* Footer */
#footer{
    /* Put the footer at bottom */
   text-align: center;
   /* position:absolute; */
   width: 100%;
   bottom:5px;
   font-size: 0.9rem;
   margin-top: 5%;
}
button:hover{
    border-radius: 30px;
    transition: border-radius,3s;
}

/* About Me */
.about-me-tag{
    text-align: center;
    width: 100%;
    margin-top: 3%;
}
.about-me-tag-text{
    font-size: 2.5rem;
}
#footer-about-me{
    padding-top:2%;
}


/*                                                             MEDIA QUERIES */

/* FOR MOBO DEVICE SCREEN */
@media only screen and (max-width:681px){
    .certificate-box-items{
        margin: 10px;
        width: 90%;
        height: 45%;
    }
    
}
@media only screen and (max-width:767px){
    .certificate-box{
        display: inline;
    }
    
}
@media only screen and (max-width: 610px) {
    #front-line{
        font-size: 1.2rem;
    }
    #my-name{
        font-size: 1.4rem;
    }
    .custom-nav{
        font-size: 1.2rem;
    }
    .top-custom-container h1{
        font-size: 1.9rem;
    }
    /* this will (h2) appear at center afte width > 400px because by default container of bootstrap puts div in center(children) */
  .top-custom-container h2{
      font-size: 1.5rem;
  }
  #tag-line{
      font-size: 1.7rem;
  }
  .certificate-box-text{
     font-size: 1.1rem;
 }
 .certificate-box-items{
     margin: 10px;
     width: 90%;
     height: 45%;
 }
 .certificate-box-images{
     width: 45px;
     height: 31px;
     margin: 8px 0px 20px 0.0px;
 }
   }
 
   /* For My NOKIA 5 */
   @media only screen and (max-width: 420px) {
     #front-line{
         font-size: 0.9rem;
     }
     #my-name{
         font-size: 1.1rem;
     }
     .custom-nav{
         font-size: 1.1rem;
     }    
     .top-custom-container h1{
         font-size: 1.6rem;
         
     }
     .top-custom-container h2 {
         font-size: 1.2rem;
 
     }
   #tag-line{
       font-size: 1.6rem;       
   }
   .about-me-tag h1{
       font-size: 2.5rem;
   }
   .icons{
     height: 40px;
     width: 41px;
           }
 /* .certificate-box{
     
 } */
 .certificate-box-text{
     font-size: 1.1rem;
 }
 .certificate-box-items{
     margin: 10px;
     width: 90%;
     height: 45%;
 }
 .certificate-box-images{
     width: 45px;
     height: 31px;
     margin: 8px 0px 20px 0.0px;
 }
 }
  /* For Z-Fold */
 @media only screen and (max-width: 350px) {
     #front-line{
         font-size: 0.7rem;
     }
     #my-name{
         font-size: 0.8rem;
     }
     .custom-nav{
         font-size: 0.8rem;
     }    
     .top-custom-container h1{
         font-size: 1.4rem;
         
     }
     .top-custom-container h2{
         font-size: 0.9rem;
     }
   #tag-line{
       font-size: 1.1rem;
   }
   .icons{
       height: 40px;
       width: 35px;
   }
   .about-me-tag {
       padding-top: 20px;
       
   }
   .about-me-tag h1{
       font-size: 1.3rem;
   }
   .certificate-box-text{
     font-size: 0.9rem;
 }
 .certificate-box-items{
     margin: 10px;
     width: 90%;
     height: 40%;
 }
 .certificate-box-images{
     width: 45px;
     height: 35px;
     margin: 1px 0px 10px 0.0px;
 }
 }