html body{
    font-family: 'Chilanka', cursive;
    margin: 0px;
    background-color: #161616;
    color: #FFB367;
}

/* Nav-Bar */
.navbar{
    border-bottom-right-radius: 20px;
}
.navbar-custom{
    background-color: #222831;
}
#my-name{
    font-size: 1.7rem;
}
.custom-nav{
    padding: 0px 20px 0px 4px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.4rem;

}

#front-line{
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.3rem;
}
/* FOR MOBO DEVICE SCREEN */
/* For Lenovo K5 Plus */
@media only screen and (max-width: 600px) {
   #front-line{
       font-size: 1.2rem;
   }
   #my-name{
       font-size: 1.4rem;
   }
   .custom-nav{
       font-size: 1.2rem;
   }
   .top-custom-container h1{
       font-size: 1.9rem;
   }
   /* this will (h2) appear at center afte width > 400px because by default container of bootstrap puts div in center(children) */
 .top-custom-container h2{
     font-size: 1.5rem;
 }
 #tag-line{
     font-size: 1.7rem;
     text-align: right;
     padding-top: 110px;
 }
  }

  /* For My NOKIA 5 */
  @media only screen and (max-width: 400px) {
    #front-line{
        font-size: 0.9rem;
    }
    #my-name{
        font-size: 1.1rem;
    }
    .custom-nav{
        font-size: 0.8rem;
    }    
    .top-custom-container h1{
        font-size: 1.6rem;
        
    }
    .top-custom-container h2{
        font-size: 1.0rem;
        color: #75B79E;
        text-align: left;
        
    }
  #tag-line{
      font-size: 1.3rem;
      padding-top: 70px;
  }
}
/* Main Content */
.top-custom-container{
    text-align: center;
    padding: 50px 0px 0px 0px;
    background-image: url('images/allec-gomes-fuooELn4jyA-unsplash.jpg');
    background-size:cover;
    border-bottom-right-radius: 90px;
    
}
.top-custom-container h1{
    color: #DDFFBC;
}
.top-custom-container h2{
    color: #75B79E;
}
.bottom-heading{
    margin: 15% 0% 0% 0%;
    padding-bottom: 15%;
    overflow: auto;
}
.bottom-heading h3{
    font-size: 3rem;
    text-align: end;
    padding: 0px 65px 25px 0px;
    color: #FFB367;
}


/* Footer */
#footer{
    /* Put the footer at bottom */
   text-align: center;
   position:absolute;
   width: 100%;
   bottom:5px;
   font-size: 0.9rem;
}